<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <img src="{{ url_for('static',filename='img/logo.svg') }}" width="36" alt="" height="36"
             class="d-inline-block align-text-top">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="navbar-brand" href="#">Nom du site</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for("index") }}">Accueil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>